.. -*- mode: rst -*-

{{ data['description'] }}

{% if data['usage'] %}
Syntax
......

.. code-block:: none

   {{ data['usage'] }}
{% endif %}

{% if data['options'] %}
Command options
...............

{% for item in data['options'] %}
``{% if item.shorthand %}-{{item.shorthand}}, {% endif %}--{{item.name}}``

{{item.usage}}

{% if item.default_value %}**Default value:** ``{{ item.default_value }}``{% endif %}

{% endfor %}
{% endif %}

{% if data['inherited_options'] %}
.. collapse:: Inherited Options

   {% for item in data['inherited_options'] %}
   ``{% if item.shorthand %}-{{item.shorthand}}, {% endif %}--{{item.name}}``
   
   {% set usage = item.usage.split('\n') %}
   {{usage}}

   {% if item.default_value %}**Default value:** ``{{ item.default_value }}``{% endif %}
   {% endfor %}
{% endif %}

{% if data['example'] %}
Example
.......

{% set example = data['example'].split('\n') %}

.. code-block::

   {% for line in example %}{{line}}
   {% endfor %}

{% endif %}
