name: Sanity check

on:
  push:
    branches:
      - master
  pull_request:
    types: [ opened, synchronize, reopened ]

jobs:
  checks:
    name: Various checks
    runs-on: ubuntu-latest
    steps:
      - name: Check out code into the Go module directory
        uses: actions/checkout@v3

      - name: Setup testing dependencies
        uses: ./.github/actions/test-setup
        with:
          start-dev-env: false

      - name: Run checks
        run: make check

      - name: Run unit tests
        run: make unit-test

  integration-tests:
    strategy:
      fail-fast: false
      matrix:
        scylla-version: [ 2023.1.0 ]
        ip-family: [ IPV4, IPV6 ]
    uses: ./.github/workflows/integration-tests.yaml
    with:
      scylla-version: ${{ matrix.scylla-version }}
      ip-family: ${{ matrix.ip-family }}