concurrency:
    cancel-in-progress: true
    group: int-${{ github.workflow }}-${{ github.ref }}
env:
    scylla-version: scylla:2025.4.0-rc4
    ip-family: IPV4
    raft-schema: none
    tablets: disabled
    ssl-enabled: "true"
    backup-method: native
    restore-method: native
jobs:
    repair:
        name: Test repair
        runs-on: ubuntu-latest
        steps:
            - name: Check out code into the Go module directory
              uses: actions/checkout@v3
            - name: Setup testing dependencies
              uses: ./.github/actions/test-setup
              with:
                ip-family: ${{ env.ip-family }}
                raft-schema: ${{ env.raft-schema }}
                scylla-version: ${{ env.scylla-version }}
                ssl-enabled: ${{ env.ssl-enabled }}
                tablets: ${{ env.tablets }}
            - continue-on-error: true
              name: Run tablet repair tests
              run: make pkg-integration-test IP_FAMILY=${{ env.ip-family }} SSL_ENABLED=${{ env.ssl-enabled}} PKG=./pkg/service/repair/tablet
            - continue-on-error: true
              name: Print logs dc1 node1
              run: echo "dc1nod1 logs" && docker logs scylla_manager-dc1_node_1-1
            - continue-on-error: true
              name: Print logs dc1 node2
              run: echo "dc1nod2 logs" && docker logs scylla_manager-dc1_node_2-1
            - continue-on-error: true
              name: Print logs dc1 node3
              run: echo "dc1nod3 logs" && docker logs scylla_manager-dc1_node_3-1
            - continue-on-error: true
              name: Print logs dc2 node1
              run: echo "dc2nod1 logs" && docker logs scylla_manager-dc2_node_1-1
            - continue-on-error: true
              name: Print logs dc2 node2
              run: echo "dc2nod2 logs" && docker logs scylla_manager-dc2_node_2-1
            - continue-on-error: true
              name: Print logs dc2 node3
              run: echo "dc2nod3 logs" && docker logs scylla_manager-dc2_node_3-1
name: integration-tests-2025.4.0-rc4-IPV4-native-native
"on":
    pull_request:
        types:
            - opened
            - synchronize
            - reopened
    push:
        branches:
            - master
            - branch-**
permissions:
    contents: read
